body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.background{
  position: relative;
  /* background-color: rgb(60,131,57);
  z-index: -100; */
}

.background img {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 150%;
    z-index: -1;
}

.button-grid {
    z-index: 100;
    width: 80%;
}

.button-div {
    border-radius: 20px;
    background: rgba(255,255,255,0.5);
    padding: 45px 45px;
    margin: 20px auto;
    border: solid 1px black;
}

.button-div img {
    width: 100%;
    height: auto;
    opacity: .4;
    z-index: -1;
}

.btn-lg {
    font-size: 3em !important;
}

.btn-lg:hover {
    cursor: pointer;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.modal-content {
    padding: 10px 10px;
    background-color: rgb(224, 255, 235);
}

.modal-body {
    padding: 2rem;
}

.info-headers {
    font-family: 'Bree Serif', serif;
    font-size: 22px;
}

.modal p {
    font-size: 20px;
}

.modal h5 {
    font-family: 'Bree Serif', serif;
    font-size: 36px;
}

a {
    font-family: 'Bree Serif', serif;
}

.neon-row {
    padding: 10px auto;
}
.neon {
    font-family: 'Grape Nuts', cursive;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    font-size: 5em;
}

.rsvp-btn-div {
    padding: 0px 10px;
}

.rsvp-btn {
    font-size:20px;
    background-color: rgb(118, 235, 177);
    border: solid 1px rgb(3, 110, 56);
    color:rgb(3, 110, 56);
}

.rsvp-btn:hover {
    background-color: rgb(186, 247, 199);
    border: solid 1px rgb(118, 235, 177);
}

.address {
    padding: 10px 0px;
    margin: -5px 0px;
    line-height: .8;
}

.address p {
    font-size: 24px;
}

.address-header {
    font-family: 'Bree Serif', serif;
}

i {
    color: rgb(255, 153, 153);
}

.sm-directions-icon {
    padding-left: 10px;
}

/* FAQ Cards */
.faq-card {
    border-radius: 20px;
    background-color: rgb(186, 247, 199);
}

/* RSVP Page */

.neon-rsvp {
    font-family: 'Grape Nuts', cursive;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #ef7aff,
        0 0 82px #ef7aff,
        0 0 92px #ef7aff,
        0 0 102px #ef7aff,
        0 0 151px #ef7aff;
    font-size: 5em;
}

.form-container {
    background-color: rgb(186, 247, 199);
    width: 90%;
    height: 400px;
    border-radius: 20px;
}

.form-style {
    margin: -30px 15px;
}

.form-group {
    padding: 20px 10px;
}

.form-check {
    padding-left: 2.3em;
}

.mb-30 {
    margin-bottom: 30px;
}

label {
    font-size: 20px;
}

/* Media Queries */

@media (max-width: 850px) {
    .neon {
        font-size: 3em;
    }

    .btn-lg {
        font-size: 2em !important;
    }

    .button-div {
        padding: 30px 0px;
        margin: 3px auto;
    }

    .info-headers {
        font-size: 20px;
    }

    .modal p {
        font-size: 18px;
    }

    #chatt {
        font-size: 16px;
    }

}

@media (max-width: 576px) {
    .neon {
        font-size: 2em;
    }

    .button-div {
        padding: 0px 0px;
        margin: 3px auto;
    }

    .btn-lg {
        font-size: 1em !important;
    }
}

@media (max-width: 425px) {
    .background {
        height: 600px;
    }

    .neon {
        font-size: 2em;
    }

    .button-div {
        margin: 12px auto;
        padding: 12px 10px;
    }

    .btn-lg {
        font-size: 1.5em !important;
    }

    .form-style {
        margin: -50px 0px;
    }

    #chatt {
        font-size: 12px;
    }

    #kathryn {
        font-size: 12px;
        margin-bottom: 2px;
    }
}