body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.background{
  position: relative;
}

.background img {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.button-grid {
    z-index: 100;
    width: 80%;
}

.button-div {
    border-radius: 20px;
    background: rgba(255,255,255,0.5);
    padding: 45px 45px;
    margin: 20px auto;
    border: solid 1px black;
}

.button-div img {
    width: 100%;
    height: auto;
    opacity: .4;
    z-index: -1;
}

.btn-lg {
    font-size: 3em !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.modal-content {
    padding: 10px 10px;
    background-color: rgb(224, 255, 235);
}

.modal-body {
    padding: 2rem;
}

.info-headers {
    font-family: 'Bree Serif', serif;
    font-size: 22px;
}

.modal p {
    font-size: 20px;
}

.modal h5 {
    font-family: 'Bree Serif', serif;
    font-size: 36px;
}

a {
    font-family: 'Bree Serif', serif;
}

.neon-row {
    padding: 10px auto;
}
.neon {
    font-family: 'Grape Nuts', cursive;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    font-size: 6em;
}

.rsvp-btn-div {
    border-radius: 20px;
    border: solid 1px;
    padding: 10px 10px;
}

.rsvp-btn {
    font-size:20px;
}

.no {
    background-color: rgb(255, 221, 221);
}

.yes {
    background-color: rgb(147, 235, 191);
}

/* RSVP Page */

.neon-rsvp {
    font-family: 'Grape Nuts', cursive;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #ef7aff,
        0 0 82px #ef7aff,
        0 0 92px #ef7aff,
        0 0 102px #ef7aff,
        0 0 151px #ef7aff;
    font-size: 6em;
}
.form-container {
    background-color: rgb(226, 204, 255);
    top: 20px;
    height: 350px;
    width: 55%;
}

label {
    font-size: 24px;
}

.see-you-soon {
    background-color: #320544;
    color:rgb(226, 204, 255);
}

.breadcrumb {
    color: #320544;
    text-decoration: none;
}